@use "../../utils/constants" as c;
@include c.colors;

$info-block-width: 715px;
$info-padding-top: 50px;

$guide-block-width: 750px;
$guide-step-margin: 15px;

.summary {
  width: min($info-block-width, 100vw - 2 * c.$phone-margin);

  padding-top: $info-padding-top;

  text-align: center;
  align-items: center;
}

.guide {
  width: min($guide-block-width, 100vw - 2 * c.$phone-margin);

  ol {
    margin-top: 0;
    counter-reset: custom-counter;

    li {
      position: relative;
      min-height: 50px;
      margin-bottom: $guide-step-margin;
      padding-left: 65px;

      display: flex;
      flex-direction: row;
      align-items: center;

      list-style: none;
    }

    li:before {
      position: absolute;
      display: inline-block;

      top: 0;
      left: 0;

      width: 50px;
      line-height: 50px;
      height: 50px;

      text-align: center;

      color: c.$secondary-text-color;
      background-color: c.$blue;
      border-radius: 50%;

      counter-increment: custom-counter;
      content: counter(custom-counter);
    }
  }
}

.howItWorks {
  margin-inline: auto;
  svg {
    display: block;
    margin: auto;

    max-width: calc(100vw - 20px);

    @media screen and (max-width: 900px) {
      width: 200px;
      height: auto;
    }
  }
}

.hide-on-phone {
  @media screen and (max-width: 900px) {
    display: none !important;
  }
}

.show-on-phone {
  @media screen and (min-width: 900px) {
    display: none !important;
  }
}
