@use "../../utils/constants" as c;
@include c.colors;

$info-block-width: 715px;
$info-padding-top: 50px;

$guide-block-width: 750px;
$guide-step-margin: 15px;

.summary {
  @media screen and (min-width: c.$phone-width-breakpoint) {
    width: $info-block-width;
  }

  padding-top: $info-padding-top;

  text-align: center;
  align-items: center;
}

.guide {
  @media screen and (min-width: c.$phone-width-breakpoint) {
    width: $guide-block-width;
  }

  ol {
    margin-top: 0;
    counter-reset: custom-counter;

    li {
      position: relative;
      min-height: 50px;
      margin-bottom: $guide-step-margin;
      padding-left: 65px;

      display: flex;
      flex-direction: row;
      align-items: center;

      list-style: none;
    }

    li:before {
      position: absolute;
      display: inline-block;

      top: 0;
      left: 0;

      width: 50px;
      line-height: 50px;
      height: 50px;

      text-align: center;

      color: c.$secondary-text-color;
      background-color: c.$blue;
      border-radius: 50%;

      counter-increment: custom-counter;
      content: counter(custom-counter);
    }
  }
}

.howItWorks {
  @media screen and (max-width: c.$phone-width-breakpoint) {
    svg {
      width: calc(100vw - 2 * c.$horizontal-margin-for-phone);
      height: auto;
    }
  }
}
