@use "../../utils/constants";

$input-height: 150px;
$input-vertical-padding: 20px;

$button-width: 200px;
$grid-vertical-gap: 10px;
$grid-horizontal-gap: 20px;

$horizontal-padding: calc(50vw - constants.$chat-input-width / 2);

$files-horizontal-gap: 10px;
$clip-size: 33px;

@mixin customPadding($only-left: true) {
	@if $only-left == true {
		padding-left: $horizontal-padding;
	} @else {
		padding: 0 $horizontal-padding;
	}
}

.chatWrapper {
	display: grid;
	height: calc(100vh - constants.$header-vh);

	.messages {
		// display: flex;
		// flex-direction: column-reverse;

		overflow-y: auto;

		font-size: constants.$secondary-font-size;
		font-weight: constants.$secondary-font-weight;
		color: constants.$dark-blue;

		.message {
			@include customPadding($only-left: false);
			width: constants.$chat-input-width;

			&.green {
				background: constants.$light-green;
			}
		}
	}

	.input {
		@include customPadding;

		position: relative;

		display: grid;
		grid-template-columns: constants.$chat-input-width $button-width;
		grid-template-rows: repeat(3, 1fr);
		gap: $grid-vertical-gap $grid-horizontal-gap;

		width: max(
			calc(100vw - $horizontal-padding),
			calc(constants.$chat-input-width + $button-width + $grid-horizontal-gap)
		);
		min-height: $input-height;

		align-self: flex-end;

		padding-block: $input-vertical-padding;

		background: constants.$blue;

		.textarea {
			position: relative;
			grid-column: 1;
			grid-row: 1 / 4;

			textarea {
				width: calc(100% - 8px); // to compensate border and margin
				height: calc(100% - 8px);

				font-size: constants.$primary-font-size;
				resize: none;
			}

			// svg clip icon
			.clipIcon {
				cursor: pointer;
				position: absolute;
				bottom: 5px;
				right: 0;

				height: $clip-size;
			}

			.uploadedFiles {
				position: absolute;
				bottom: 5px;
				left: 10px;

				svg,
				.text {
					cursor: pointer;
					height: $clip-size;
				}
				svg:hover + .text,
				.text:hover {
					text-decoration: line-through;
				}
			}
		}
	}
}

// uploaded files
.uploadedFiles {
	width: calc(100% - $clip-size);

	display: flex;
	justify-content: start;

	gap: $files-horizontal-gap;

	// word icon
	svg,
	.text {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
}
