@use "../../utils/constants" as c;
@include c.colors;

.link {
  min-width: 90px;
  max-width: 225px;

  padding: 0 20px;

  line-height: c.$header-height;

  text-align: center;
  color: c.$secondary-text-color;

  &.inline {
    line-height: normal;
  }

  &.underline {
    text-decoration: underline;
  }

  &:hover {
    cursor: pointer;
  }

  &:not(.no-hover):hover {
    background-color: c.$light-blue;
  }

  &.active {
    background-color: c.$blue;
  }

  &.round {
    border-radius: 30px;
  }
}
