@use "../../utils/constants" as c;
@include c.colors;

$horizontal-padding: 30px;
$vertical-padding: 5px;
$height: 50px - 2 * $vertical-padding;

.button {
  text-align: center;
  padding: $vertical-padding $horizontal-padding;
  color: c.$secondary-text-color;

  &:hover {
    cursor: pointer;
  }

  &.chat {
    border-radius: 20px;
  }

  &.disabled {
    cursor: default;
    background-color: c.$gray;
  }
}
