@use "../../utils/constants";

$horizontal-padding: 30px;
$vertical-padding: 5px;
$height: 50px - 2 * $vertical-padding;

.button {
  height: 50px;
  line-height: 50px;
  
  text-align: center;

  padding: $vertical-padding $horizontal-padding;

  color: constants.$text;

  &:hover {
    cursor: pointer;
  }

  &.green {
    background-color: constants.$green;
  }

  &.blue {
    background-color: constants.$blue;
  }

  &.chat {
    border-radius: 20px;
    width: calc(
      constants.$chat-width / 2 - constants.$chat-buttons-gap / 2  - 2 * $horizontal-padding
    )
  }
}