@use "../../utils/constants" as c;
@include c.colors;

$horizontal-padding: 30px;

.button {
  // width: fit-content;

  // margin: auto;

  color: c.$secondary-text-color;

  .text {
    line-height: 52px;
    padding-inline: $horizontal-padding;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }

  &.dim-on-hover:hover {
    background-color: #6195f3 !important;
  }

  &.round {
    border-radius: 20px;
  }

  &.disabled {
    cursor: default;
    background-color: c.$gray;
  }

  // &.selected {
  //   background: linear-gradient(rgb(0 0 0/20%) 0 0);
  // }
}
