@use "../../utils/constants" as c;

@mixin message($is-user) {
  padding: 15px;
  border-radius: 13px;

  @if $is-user {
    width: fit-content;
    margin-bottom: 30px;

    background-color: #cee2f4;
    align-self: self-end;
  } @else {
    background-color: #d3daf8;
    align-self: self-start;
  }

  .attached-file {
    display: flex;
    flex-direction: row;

    height: 40px;
    line-height: 40px;

    font-weight: c.$primary-font-weight;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  margin: auto;
  height: 100vh;
  width: fit-content;

  .messages {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    height: auto;
    overflow-y: scroll;

    font-size: c.$font-size-s;
    font-weight: c.$secondary-font-weight;

    .message-user {
      @include message(true);
      max-width: 70%;
    }
    .message-wrapper {
      width: fit-content;
      max-width: 70%;

      .message-bot {
        @include message(false);
      }
      .message-options {
        margin-top: 10px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: row;
        justify-content: start;

        gap: 10px;
      }
    }
  }

  .input {
    flex-grow: 0;
    padding-bottom: 30px;
  }
}
