@use "../../utils/constants" as c;

$padding-top: 40px;

$inner-gap: 30px;
$outer-gap: 95px;

@mixin vertical-flexbox($gap) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $gap;
}

.wrapper {
  @include vertical-flexbox($outer-gap);
  @media screen and (min-width: c.$phone-breakpoint) {
    width: 100vw;
  }
  @media screen and (max-width: c.$phone-breakpoint) {
    width: calc(100vw - 2 * c.$phone-margin);

    padding-left: c.$phone-margin;
    padding-right: c.$phone-margin;
  }
  margin-block: auto;

  position: absolute;

  height: 100vh;

  padding-top: calc($padding-top + c.$header-height);
  align-items: center;

  & > div {
    @include vertical-flexbox($inner-gap);
  }

  .footer {
    width: 100vw;

    margin-top: 100px;
    padding-left: 70px;
    padding-bottom: 20px;

    @media screen and (max-width: c.$phone-breakpoint) {
      font-size: c.$font-size-s;
      line-height: c.$font-size-s;
      padding-left: 0;
    }

    z-index: c.$interface-z;

    background-color: c.$dark-blue;
    color: c.$secondary-text-color;

    p {
      @media screen and (max-width: c.$phone-breakpoint) {
        width: calc(100vw - 2 * c.$phone-margin);
        padding-inline: c.$phone-margin;
      }

      &:first-child {
        margin: 15px 0;
        font-size: c.$font-size-xl;

        @media screen and (max-width: c.$phone-breakpoint) {
          font-size: c.$font-size-l;
          line-height: c.$font-size-l;
        }
      }
      margin: 0;
      line-height: 30px;
    }
  }
}

.title {
  text-align: center;

  font-size: c.$font-size-xl;
  color: c.$dark-blue;

  span {
    color: c.$primary-text-color;
  }
}
