@use "../../utils/constants" as c;

$padding-top: 40px;

$inner-gap: 30px;
$outer-gap: 95px;

@mixin vertical-flexbox($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.wrapper {
  @include vertical-flexbox($outer-gap);
  @media screen and (min-width: c.$phone-width-breakpoint) {
    width: 100vw;
  }
  @media screen and (max-width: c.$phone-width-breakpoint) {
    width: calc(100vw - 2 * c.$horizontal-margin-for-phone);

    padding-left: c.$horizontal-margin-for-phone;
    padding-right: c.$horizontal-margin-for-phone;
  }

  position: absolute;
  padding-top: $padding-top;
  align-items: center;

  & > div {
    @include vertical-flexbox($inner-gap);
  }
}

.title {
  text-align: center;
  font-size: c.$font-size-xl;
  color: c.$dark-blue;

  span {
    color: c.$primary-text-color;
  }
}
