@use "../../utils/constants";

$questions-block-width: 920px;
$questions-block-title-font-size: 40px;

.blue {
	color: #00aeef;
}

.questions {
	@media screen and (min-width: constants.$phone-width-breakpoint) {
		width: $questions-block-width;
	}
	line-height: 22px;

	.title {
		line-height: 60px;
	}

	.questionTitle {
		font-size: $questions-block-title-font-size;
		line-height: $questions-block-title-font-size;

		@media screen and (max-width: constants.$phone-width-breakpoint) {
			font-size: constants.$phone-primary-font-size;
			line-height: constants.$phone-primary-font-size;
		}
	}
}

.contactsData {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media screen and (min-width: constants.$phone-width-breakpoint) {
		width: $questions-block-width;
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		svg {
			transform: translate(0, 15%);
		}
	}
}
