@use "../../utils/constants" as c;

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  height: c.$header-height;
  width: 100vw;

  z-index: c.$interface-z;

  background-color: c.$dark-blue;
  color: c.$secondary-text-color;

  font-size: c.$font-size-l;
  font-weight: c.$primary-font-weight;

  .company-name {
    @media screen and (min-width: c.$phone-breakpoint) {
      position: absolute;
    }
    @media screen and (max-width: c.$phone-breakpoint) {
      display: none;
    }
    left: 120px;
  }
}
