@use "../../utils/constants" as c;

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: c.$phone-breakpoint) {
    justify-content: space-around;
  }

  height: c.$header-height;
  width: 100vw;

  z-index: c.$interface-z;

  background-color: c.$dark-blue;
  color: c.$secondary-text-color;

  font-size: c.$font-size-l;
  font-weight: c.$primary-font-weight;

  .company-name {
    @media screen and (min-width: c.$phone-breakpoint) {
      position: absolute;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
    left: 120px;
  }

  .user-data {
    @media screen and (min-width: c.$phone-breakpoint) {
      position: absolute;
      right: 10px;
    }

    display: flex;
    gap: 10px;

    .user-info {
      font-size: c.$font-size-s;

      display: flex;
      flex-direction: column;

      .user-name {
        align-self: flex-end;
      }

      .user-email {
        font-size: c.$font-size-xs;
      }
    }
    .icon-imitation {
      width: 35px;
      height: 35px;
      margin-right: 20px;

      border-radius: 50%;
      background-color: #fff;
    }
  }
}

.hide-on-phone {
  @media screen and (max-width: 900px) {
    display: none !important;
  }
}
