// GENERAL CONSTANTS
$phone-width-breakpoint: 481px;
$header-vh: 52px;

// font
$primary-font-weight: 700;
$secondary-font-weight: 400;

$header-font-size: 40px;
$primary-font-size: 20px;
$secondary-font-size: 16px;

// z-index
$background-z: 1;
$content-z: 2;
$interface-z: 3;

// colors
$light-green: rgba(113, 191, 68, 0.3);
$green: #71bf44;
$blue: #00aeef;
$light-blue: #00679f;
$aquamarine: #81ddf1;
$gray: #c0c0c0;
$dark-blue: #1a2d74;
$text: #ffffff;

// char
$chat-input-width: 800px;

// margin top and bottom of <p> element which contains message text
$margin-to-bottom-of-message-text-and-files: 8px;
