.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .textField {
    width: 750px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}