@use "./utils/constants" as c;

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // century-gothic
  font-family: sans-serif;
  font-weight: c.$primary-font-weight;
  font-size: c.$font-size-l;
  color: c.$dark-blue;

  background-image: url(./assets/mainBackground.svg);
  background-color: #00153f;
  background-size: 100vw auto;

  overflow-x: hidden;
}
